.Tech .Components {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 5%;

  background-color: #cdc1ff;
  background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);

  border-radius: 10px;
}

.Tech {
  padding: 3%;
}
.Tech center h1 {
  font-size: 4rem;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 601px) and (min-width: 350px) {
  .Tech .Components {
    grid-template-columns: 1fr;
  }
  .Tech center h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1000px) and (min-width: 600px) {
  .Tech .Components {
    grid-template-columns: 0.7fr;
  }
  .Tech center h1 {
    font-size: 3rem;
  }
}
